.frontpage-intro {
    margin-top: 40px;
    width: 50%;
}

.frontpage-intro .inner-text {
    text-align: center;
}

/* .home-page-background {
    background-image: url(/img/densidstenadver.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
} */

.homebanner {
    width: 100%;
}

.contact-page-background {
    background-image: url(/img/beers/fat-cat.jpg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: -10%;
    background-position-y: -10%;
}

.contact-page {
    width: 55%;
    background-color: pink;
    margin-left: 40%;
}



@media only screen and (max-width: 376px) {

        
}
